/* common */
body span{
    font-size: 1rem;
}
/* common end */



/* main project category */
.wrap{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

.select_basic select{
    padding: 15px;
    -webkit-appearance: auto;
    font-size: 20px;
}
